params {
    outdir = 'results'

    // Run pipelines
    fetchngs_enabled = true
    detaxizer_enabled = true
    createtaxdb_enabled = true
    ampliseq_enabled = true
    taxprofiler_enabled = true
    eager_enabled = true
    magmap_enabled = true
    mag_enabled = true
    metatdenovo_enabled = true
    differentialabundance_enabled = true
    metapep_enabled = true
    phageannotator_enabled = true
    funcscan_enabled = true
    phyloplace_enabled = true

    // Pipeline inputs
    // Use nf-core launch
    fetchngs_params = 'tests/data/fetchngs_taxprofiler_samplesheet.csv'
    detaxizer_params = 'tests/data/detaxizer_samplesheet.csv'
    createtaxdb_params = 'tests/data/createtaxdb_samplesheet.csv'
    ampliseq_params = 'tests/data/ampliseq_samplesheet.csv'
    taxprofiler_params = 'tests/data/fetchngs_taxprofiler_samplesheet.csv'
    eager_params = 'tests/data/eager_samplesheet.csv'
    magmap_params = 'tests/data/magmap_samplesheet.csv'
    mag_params = 'tests/data/mag_samplesheet.csv'
    metatdenovo_params = 'tests/data/metatdenovo_samplesheet.csv'
    differentialabundance_params = 'tests/data/differentialabundance_samplesheet.csv'
    metapep_params = 'tests/data/metapep_samplesheet.csv'
    phageannotator_params = 'tests/data/phageannotator_samplesheet.csv'
    funcscan_params = 'tests/data/funcscan_samplesheet.csv'
    phyloplace_params = 'tests/data/phyloplace_samplesheet.csv'

    // Command-line options
    all_cli = '-resume -ansi-log false -profile docker'
    fetchngs_cli = ''
    detaxizer_cli = ''
    createtaxdb_cli = ''
    ampliseq_cli = ''
    taxprofiler_cli = ''
    eager_cli = ''
    magmap_cli = ''
    mag_cli = ''
    metatdenovo_cli = ''
    differentialabundance_cli = ''
    metapep_cli = ''
    phageannotator_cli = ''
    funcscan_cli = ''
    phyloplace_cli = ''

    // Additional configuration files
    fetchngs_config = 'configs/multiqc.config'
    detaxizer_config = 'configs/multiqc.config'
    createtaxdb_config = 'configs/multiqc.config'
    ampliseq_config = 'configs/multiqc.config'
    taxprofiler_config = 'configs/multiqc.config'
    eager_config = 'configs/multiqc.config'
    magmap_config = 'configs/multiqc.config'
    mag_config = 'configs/multiqc.config'
    metatdenovo_config = 'configs/multiqc.config'
    differentialabundance_config = 'configs/multiqc.config'
    metapep_config = 'configs/multiqc.config'
    phageannotator_config = 'configs/multiqc.config'
    funcscan_config = 'configs/multiqc.config'
    phyloplace_config = 'configs/multiqc.config'
}

resume = true

process {
    errorStrategy = 'finish' // Important, otherwise concurrent running of workflows may kill the other on error leaving a lock file present
    withName= 'NFCORE_FETCHNGS' {
        publishDir = "$params.outdir/nf-core-fetchngs"
    }
    withName= 'NFCORE_DETAXIZER'{
        publishDir = "$params.outdir/nf-core-detaxizer"
    }
    withName= 'NFCORE_CREATETAXDB' {
        publishDir = "$params.outdir/nf-core-createtaxdb"
    }
    withName= 'NFCORE_AMPLISEQ' {
        publishDir = "$params.outdir/nf-core-ampliseq"
    }
    withName= 'NFCORE_TAXPROFILER' {
        publishDir = "$params.outdir/nf-core-taxprofiler"
    }
    withName= 'NFCORE_EAGER' {
        publishDir = "$params.outdir/nf-core-eager"
    }
    withName= 'NFCORE_MAG' {
        publishDir = "$params.outdir/nf-core-mag"
    }
    withName= 'NFCORE_MAGMAP' {
        publishDir = "$params.outdir/nf-core-magmap"
    }
    withName= 'NFCORE_METATDENOVO' {
        publishDir = "$params.outdir/nf-core-metatdenovo"
    }
    withName= 'NFCORE_DIFFERENTIALABUNDANCE' {
        publishDir = "$params.outdir/nf-core-differentialabundance"
    }
    withName= 'NFCORE_METAPEP' {
        publishDir = "$params.outdir/nf-core-metapep"
    }
    withName= 'NFCORE_PHAGEANNOTATOR' {
        publishDir = "$params.outdir/nf-core-phageannotator"
    }
    withName= 'NFCORE_FUNCSCAN' {
        publishDir = "$params.outdir/nf-core-funcscan"
    }
    withName= 'NFCORE_PHYLOPLACE' {
        publishDir = "$params.outdir/nf-core-phyloplace"
    }
}