plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters, incl. cross-pipeline preliminary checks in nextflow_schema.json
}

params {
    outdir                          = 'results'

    // Which pipelines to run. Enabling a pipeline with no natural upstream in this
    // chain (or that has one but it's disabled) requires its own `.input`/`.params_file`
    // - enforced in nextflow_schema.json's `allOf` rules, not just at runtime.
    enable_fetchngs                 = true
    enable_detaxizer                = false
    enable_createtaxdb              = false
    enable_ampliseq                 = false
    enable_taxprofiler              = false
    enable_eager                    = false
    enable_magmap                   = false
    enable_mag                      = false
    enable_metatdenovo              = false
    enable_differentialabundance    = false
    enable_metapep                  = false
    enable_phageannotator           = false
    enable_funcscan                 = false
    enable_phyloplace               = false

    general.wf_opts                 = '-resume -ansi-log false'

    fetchngs.input                  = ''
    fetchngs.params_file            = ''
    fetchngs.wf_opts                = ''
    fetchngs.add_config             = ''

    detaxizer.input                 = ''
    detaxizer.params_file           = ''
    detaxizer.wf_opts               = ''
    detaxizer.add_config            = ''

    createtaxdb.input               = ''
    createtaxdb.params_file         = ''
    createtaxdb.wf_opts             = ''
    createtaxdb.add_config          = ''

    ampliseq.input                  = ''
    ampliseq.params_file            = ''
    ampliseq.wf_opts                = ''
    ampliseq.add_config             = ''

    taxprofiler.input               = ''
    taxprofiler.params_file         = ''
    taxprofiler.wf_opts             = ''
    taxprofiler.add_config          = ''

    eager.input                     = ''
    eager.params_file               = ''
    eager.wf_opts                   = ''
    eager.add_config                = ''

    magmap.input                    = ''
    magmap.params_file              = ''
    magmap.wf_opts                  = ''
    magmap.add_config               = ''

    mag.input                       = ''
    mag.params_file                 = ''
    mag.wf_opts                     = ''
    mag.add_config                  = ''

    metatdenovo.input               = ''
    metatdenovo.params_file         = ''
    metatdenovo.wf_opts             = ''
    metatdenovo.add_config          = ''

    differentialabundance.input     = ''
    differentialabundance.params_file = ''
    differentialabundance.wf_opts   = ''
    differentialabundance.add_config = ''

    metapep.input                   = ''
    metapep.params_file             = ''
    metapep.wf_opts                 = ''
    metapep.add_config              = ''

    phageannotator.input            = ''
    phageannotator.params_file      = ''
    phageannotator.wf_opts          = ''
    phageannotator.add_config       = ''

    funcscan.input                  = ''
    funcscan.params_file            = ''
    funcscan.wf_opts                = ''
    funcscan.add_config             = ''

    phyloplace.input                = ''
    phyloplace.params_file          = ''
    phyloplace.wf_opts              = ''
    phyloplace.add_config           = ''
}

resume = true

process {
    errorStrategy = 'finish' // Important, otherwise concurrent running of workflows may kill the other on error leaving a lock file present
    withName: 'NFCORE_FETCHNGS' {
        publishDir = "$params.outdir/nf-core-fetchngs"
    }
    withName: 'NFCORE_DETAXIZER' {
        publishDir = "$params.outdir/nf-core-detaxizer"
    }
    withName: 'NFCORE_CREATETAXDB' {
        publishDir = "$params.outdir/nf-core-createtaxdb"
    }
    withName: 'NFCORE_AMPLISEQ' {
        publishDir = "$params.outdir/nf-core-ampliseq"
    }
    withName: 'NFCORE_TAXPROFILER' {
        publishDir = "$params.outdir/nf-core-taxprofiler"
    }
    withName: 'NFCORE_EAGER' {
        publishDir = "$params.outdir/nf-core-eager"
    }
    withName: 'NFCORE_MAGMAP' {
        publishDir = "$params.outdir/nf-core-magmap"
    }
    withName: 'NFCORE_MAG' {
        publishDir = "$params.outdir/nf-core-mag"
    }
    withName: 'NFCORE_METATDENOVO' {
        publishDir = "$params.outdir/nf-core-metatdenovo"
    }
    withName: 'NFCORE_DIFFERENTIALABUNDANCE' {
        publishDir = "$params.outdir/nf-core-differentialabundance"
    }
    withName: 'NFCORE_METAPEP' {
        publishDir = "$params.outdir/nf-core-metapep"
    }
    withName: 'NFCORE_PHAGEANNOTATOR' {
        publishDir = "$params.outdir/nf-core-phageannotator"
    }
    withName: 'NFCORE_FUNCSCAN' {
        publishDir = "$params.outdir/nf-core-funcscan"
    }
    withName: 'NFCORE_PHYLOPLACE' {
        publishDir = "$params.outdir/nf-core-phyloplace"
    }
}
